[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true

# Tab indentation (no size specified)
[{go.mod,go.sum,*.go,*.go.tmpl}]
indent_style = tab
indent_size = 4
